@page
@model WebPage.Pages.WeatherPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="enGb">
<head>
    <title>Weather Page</title>
</head>
<body>
<div>
    <input type="text" id="userInput" name="userInput" placeholder="Enter text here">
</div>
</body>
</html>